<p>producer works!</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Hozzáadás
</button>

<table class="table table-striped">
    <thead class=" table table-info">
        <tr>
            <th>Id</th>
            <th>Név</th>
            <th>Ország</th>
            <th>Alapítás éve</th>
            <th>Kapacitás (hektár)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table table-warning">
        @for(pr of producer;track pr.id){
            <tr>
                <td>{{pr.id}}</td>
                <td>{{pr.name}}</td>
                <td>{{pr.country}}</td>
                <td>{{pr.yearOfFoundation}}</td>
                <td>{{pr.capacityHectare}}</td>
                <td>
                    <button type="button" class="btn btn-warning" 
                    data-bs-toggle="modal" data-bs-target="#exampleModal" 
                    (click)="startEdit(pr)">Módosítás</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="confirm_Animation_Window(pr.id)">Törlés</button>
                </td>
            </tr>
        }
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
            {{ addMode ? "Hozzáadás" : "Módosítás"}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
      </div>
      <div class="modal-body">
        <form id="producerForm" (submit)="Operation()" [formGroup]="producerForm">
            @if(!addMode){
                <div class="mb-2">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" id="id" formControlName="id" class="form-control" readonly>
                </div>
            }
            <div class="mb-2">
                <label for="name" class="form-label">Név</label>
                <input type="text" id="name" formControlName="name" class="form-control">
            </div>
            <div class="mb-2">
                <label for="country" class="form-label">Ország</label>
                <input type="text" id="country" formControlName="country" class="form-control">
            </div>
            <div class="mb-2">
                <label for="fundationyear" class="form-label">Alapítás éve</label>
                <input type="text" id="foundationyear" formControlName="yearOfFoundation" class="form-control">
            </div>
            <div class="mb-2">
                <label for="capacityHectare" class="form-label">Kapacitás (hektár)</label>
                <input type="text" id="capacityHectare" formControlName="capacityHectare" class="form-control">
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()">Close</button>
        @if(addMode){
            <button type="submit" class="btn btn-primary" form="producerForm">Hozzáadás</button>
        }@else {
            <button type="submit" class="btn btn-warning" form="producerForm">Módosítás</button>
        }
      </div>
    </div>
  </div>
</div>